---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { Picture } from '@astrojs/image/components';
import localImage from '../../../public/Difference-Between-ReactJS-And-VueJS-1.jpeg';

let counter = 0

if(Astro.cookies.has("counters")){
  const cookie = Astro.cookies.get("counters")
  counter = cookie.number() + 1
}

Astro.cookies.set("counters", counter.toString())

---

<Layout title="Welcome to Astro." keyword='keyword 1 keyword 2 keyword 3', description='this is description of home page'>
	<main class="container mx-auto mt-10">
	<!-- <Picture src={localImage} widths={[200, 400, 800]} sizes="(max-width: 800px) 100vw, 800px" formats={['avif', 'jpeg', 'png', 'webp']} alt="The Astro logo" /> -->
		<h1 class="text-3xl">Welcome to <span class="text-gradient">Sanskar English</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>

		<h1>Counter = {counter}</h1>

		<ul role="list" class="link-card-grid">
			<Card
				href="#"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="#"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="#"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="#"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	/* h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	} */
</style>
